body{
    font-family: Georgia, 'Times New Roman', Times, serif Times, serif;
    font-size: 14px;
    margin: O;
    padding: 0;
    line-height: 1.3; 
    z-index:0;
    
}
/*nav{
  position: relative;
  display: flex;
  padding: 2px;
  margin-right: 5px;
}*/

.icon_right {
    margin-right: 54px;
    margin-bottom: -8px;
  
 }


.container{
    max-width: 100%;
    margin: 0 auto;
    margin-right: 2px;
    text-align: right;
    top: 8px;
    left: -4px;
    background: #fbfaf9; 
    border-radius : 20px 20px; 
    height: 80px;
    position:sticky;
    z-index: 2;
    
     }

     .header{
        background-color: #F8AB16;
        object-fit: cover;
        height: 500px;
       /* clip-path: polygon(50% 0, 100% 0, 100% 35%, 100% 83%, 85% 75%, 55% 72%, 13% 76%, 0 83%, 0% 35%, 0 0);*/
    }

    .bx-menu{
        width: 70px;
       margin-left: 0px;
       padding-left: 10px
   }

    .textAutoGr{
        padding-top: 100px;
        padding-left: 50px;
       
        
    }

    
    

    ul li  a { 
        text-decoration: none;
        color:#0e0d0d;
        padding: 12px;
     }  

     .nav-list{
        float: left;
        
     }

     .nav-link{
        font-size: 20px;
     }
     
     .nav-item:not(:last-child){
        margin: 0.5rem;
    }    

     li{
        list-style: none;
    }
    nav ul li{
        display: inline-block;
        margin:0 5px;
    
    }

    .navigation{
        height: 7;
        justify-content: space-between;
    
        
    } .d-flex{
        display: flex;
        align-items: center;
    }

    .icon1{
        display: none;
    }
    a{
        text-decoration: none;
        color: #0a0a09;
    }

    .menu .top{
        display:none;
    }


    .logo{
        font-weight: 700;
        font-size: 2rem;
        padding: 1rem 2rem;
        margin-right: -55px;
        
    }

    .logAuto{
        color: #0a0a09;
        border-width: 30px;
        margin: 0 auto;
        padding: 15px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 100px 100px 100px 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        text-shadow: 3px 3px #F8AB16;
        background-color: #fbfaf9;
       
    }

    .logAuto{
        font-family: 'Inter', sans-serif;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }

    .txtWith{
        font-family: 'Kaushan Script', cursive;
        font-size: 67px;
        top: 15px;
        color: #fbfaf9;
        text-shadow: 3px 3px #090303;
        margin-left: 180px;
        
    }

    .best1{
        margin-left: 180px;
        font-size: 60px;
    }

    .circle{
        float: right;
        margin-right: 200px;
        margin-top: -130px;
        font-size: 30px;
        color: #fff;
        box-shadow: 3px 4px 4px 4px #090303;
        border-radius: 100px 100px 100px 0px ;
        background: rgba(9, 3, 3, 0.904);
    }

    .imgP1 img{
        height: 249px;
        width: 437px; 
    }

    .textAuto{
        margin-left: 100px;
        box-shadow: 1px 1px 1px 1px;
        height: 69px;
        width: 351px;
        font-size: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 21px;
        color: white;
        background:#F8AB16;

    }

    .imgP2{
        float: right;
        margin-top: -400px;
        margin-right: 300px;

    }
    .imgP2 img{
        height:280;
        width: 437px;
       
    }

    .textSante{
        margin-right: 10px;
        margin-top: 10.9px;
        box-shadow: 1px 1px 1px 1px;
        height: 69px;
        width: 351px;
        font-size: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center; 
        border-radius: 21px;
        color: white;
        background:#F8AB16;


    }

    .sectionNember1{
        background: #E3E3E3;
        height: 179px;
        width: 1069px;
        margin: 100px;
        justify-content: center;
       
    }

    .sectionNember1 img{   
        width: 12.40%;
        margin-top: -150px;
        margin-left: 51px;
        
       
    }

    .sectionNember1 .mYclient{
        text-align: center;
        padding-top: 14px;
        
    }  

    .sectionNember1 .mYpence{
        font-size: 40px;
        margin-left: 288px;
        color: blue;
    }

    .mYlogin{
        margin-right: -40px;
        text-align: center;
        font-size: 20;
        font-size: 15px;
        margin-top: -65px;
    }

    .mySatisf{
        text-align: center;
        font-size: 40px;

        
    }
    strong{
        font-weight: bold;
    }

     .elementsTxt{
        /*align-items: center;*/
        display: flex;
        margin-left: 65px;
        justify-content: space-between;
        gap: 5px;
    }

    .elementsTxt>h4{
        margin-left: 50px;
        margin-top: 91px;
        text-decoration-style: none;
        display: flex;
        flex-direction: column;
       
    }

    span.volueImportance {
        color: #F8AB16;
       
    }
    /*.elementsTxt .volueImportance{
        padding-top: -60px;

    }*/

    

    /*.infos{
        background: #c1c1bf;
        height: 402px;
        width: 1270px;
       
    }*/
   /* .number3 h3{
        text-align: center;
        margin-top: 90px;
    }*/

    .monTextInfo{
        gap: 20px;
    }

    .title{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 10px;
    }

    #mecanoImg1{
        margin-left: -320px;
    }

  

    /*.carpImg img{
        width: 300px;
        margin-top: -380px;
        margin-left: 578px;
       Inter
       
    }*/

    #mecanoImg2{
       margin-left: 130px;
    }
    .infos{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
        width: 500px;
        
    }

    .textegras{
        font-family: Inter;
        font-size: 20px;
        margin-top: -50px;
    }

    .textActu{
        margin-top: -50px;
        font-size: 20px;
    }

    .number3{
        margin-top: 100px;

    }

    

   
    

    /*.textSecurite{
        margin-left: 629px;
        margin-top: -34px;
    }*/

    footer{
        background: #201f1f;
        height:  358px;
        width: 1267px

    }
       




    
    /*.footer{
        background-color: #0e0d0d;
        width: 100em;
        height: 30em;
    }*/
    